*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;

}

body{
  padding: 125px 50px;
}

p {
  font-size: 20px;
}

.counter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.counter__grid-main{
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 20px;
}

.counter__grid-buttons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.button{
  border: none;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  
  transition: scale 0.20s, opacity 0.20s;
}

.button:hover{
  scale: 1.08;
  cursor: pointer;
}

.button:active {
  scale: 0.99;
  opacity: 0.8;
}

.primary-button{
  background-color: rgb(236, 121, 33);
  border-radius: 8px;
}

.secondary-button{
  background-color: rgb(243, 206, 61);
  border-radius: 5px;
  min-height: 90px;
}

